.wkode-slider {
  display: flex;
  transition: transform 0.5s ease;

  /*  */

  &-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 80rem;
    display: flex;
    align-items: center;
    /* @media (max-width: 1080px) {
      & {
        display: none;
      }
    } */
  }

  &-slide {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100vw - 1rem);
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-navigation {
    position: absolute;
    bottom: 3rem;
    right: 6rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 99rem;
    @apply bg-lcw-primary-blue;
  }

  &-prev,
  &-next {
    font-size: 2rem;
    width: 2.4rem;
    height: 2.3rem;
    color: white;
    cursor: pointer;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-prev {
    left: 2rem;
  }

  &-next {
    right: 2rem;
  }

  &-dots {
    display: flex;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    .wkode-slider-dot {
      width: 2.1rem;
      height: 2.1rem;
      border-radius: 44px;
      background-color: white;
      margin-right: 1.5rem;
      cursor: pointer;
      transition: all 0.3s;
      overflow: hidden;
      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        @apply bg-lcw-primary-red;
        width: 4.2rem;
      }
    }
  }

  &-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: #ddd;

    .wkode-slider-progress-bar {
      height: 100%;
      width: 0%;
      transition: none;
      background-color: white;
    }
  }
}

.is-desktop-preview {
  .wkode-slider {
    &-slide {
      max-width: 100%;
    }
  }
}
.wkode-slider {
  @media (max-width: 1080px) {
    &-navigation {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (max-width: 700px) {
    &-navigation {
      bottom: 1.5rem;
    }
  }
  @media (max-width: 333px) {
    &-dots &-dot {
      width: 1rem;
      height: 1rem;
      &.active {
        width: 2.1rem;
      }
    }
    &-prev,
    &-next {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &-container-mobile {
    /*  display: none; */
    max-height: 108rem;
    @media (max-width: 1080px) {
      /* & {
        display: flex;
      } */
    }
  }
}
