.wkode-btn {
  transition: all 0.3s;
  position: relative;
  @apply overflow-hidden text-2xl font-bold px-32 py-4 font-rubik border-4 rounded-full uppercase;
  &--outline {
    &-red {
      @apply bg-transparent text-lcw-primary-red border-lcw-primary-red;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      background-image: linear-gradient(0, #d72818, #d72818);
      background-size: 0;
      transition: 0.3s;
      background-repeat: no-repeat;
      &:hover {
        background-size: 100%;
        color: white;
      }
    }
    &-blue {
      @apply bg-transparent text-lcw-primary-blue border-lcw-primary-blue;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      background-image: linear-gradient(0, #14151b, #14151b);
      background-size: 0;
      transition: 0.3s;
      background-repeat: no-repeat;
      &:hover {
        background-size: 100%;
        color: white;
      }
    }
  }
  &--solid {
    &-blue {
      @apply hover:bg-transparent hover:text-lcw-primary-blue bg-lcw-primary-blue text-white border-lcw-primary-blue;
    }
    &-red {
      @apply hover:bg-transparent hover:text-lcw-primary-red bg-lcw-primary-red text-white border-lcw-primary-red;
    }
    &-white {
      &-blue {
        @apply hover:bg-lcw-primary-blue hover:text-white bg-white text-lcw-primary-blue border-white hover:border-lcw-primary-blue;
      }
      &-red {
        @apply hover:bg-lcw-primary-red hover:text-white bg-white text-lcw-primary-red border-white hover:border-lcw-primary-red;
      }
    }
  }
}

/* 
wkode-btn wkode-btn--outline-blue
wkode-btn wkode-btn--outline-red
wkode-btn wkode-btn--solid-blue
wkode-btn wkode-btn--solid-red
wkode-btn wkode-btn--solid-white-blue
wkode-btn wkode-btn--solid-white-red
*/
