.wkode-header {
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 999;
  &.hide {
    top: -125px;
  }
  &.fixed {
    position: fixed;
    top: 0;
  }
  &.header-with-adminbar {
    top: 32px;
    @media (max-width: 782px) {
      top: 46px;
    }
    @media (max-width: 600px) {
      top: 0;
    }
  }
  &--desktop {
    display: block;
  }
  &--mobile {
    display: none;
  }
  &__nav {
    align-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 3.9rem;
    position: relative;
    &--top {
      border-bottom: 0.1rem #d6d6d6 solid;
    }
    &--bottom {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  &__logo-wraper {
    img {
      width: 9rem;
    }
  }
  &__icons-wraper {
  }
  &__social-media-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 3.4rem;
    margin-left: 1rem;
    transition: all 0.3s;
    width: 3.4rem;
    &:hover {
      opacity: 0.9;
    }
  }

  &__menu-container {
    /* width: 70%; */
    z-index: 9;
    ul.nav.navbar-nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 3.3rem;
      justify-content: flex-start;
      .menu-item {
        font-family: "Rubik", sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
        text-transform: uppercase;
        white-space: nowrap;
        z-index: 9999;
      }
    }
  }
  .menu-hover-line {
    border-radius: 999px;
    bottom: 0.3rem;
    height: 0.6rem;
    position: absolute;
    transition: width 0.2s ease-out;
    width: 0;
    @apply bg-lcw-primary-red;
  }
}

@media (max-width: 1200px) {
  .wkode-header {
    &__menu-container {
      ul.nav.navbar-nav {
        .menu-item {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .wkode-header {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
      z-index: 1000;
      .wkode-header__nav--top {
        border: 0;
      }
      .wkode-header__nav--bottom {
        left: -100%;
        width: 30%;
      }
      #controlIdForMobileNav {
        background-color: white;
        flex-direction: column;
        height: calc(100vh - 70.25px);
        justify-content: center;
        position: absolute;
        top: 6.9rem;
        transition: all 0.3s;
        z-index: 9999;

        &.full {
          width: 100vw !important;
        }

        &.wkode-header__nav--bottom {
          justify-content: flex-start;
          overflow-y: auto !important;
          padding: 3.3rem 2.1rem;
        }
        nav.wkode-header__menu-container {
          width: 100%;

          ul.nav.navbar-nav {
            align-items: flex-start;
            flex-direction: column;
            gap: 1.2rem;

            //- Every Item inside the navbar ( Highest level )
            & > .menu-item {
              @apply bg-lcw-primary-gray text-lcw-primary-blue font-medium;
              border-radius: 99rem;
              font-size: 1.5rem;
              margin-right: 0;
              padding-left: 2.4rem;
              width: 100%;
              z-index: 9999;

              //- Current page menu item ( Highest level )
              &.current_page_item {
                @apply bg-lcw-primary-blue text-lcw-primary-white;
              }

              //- Every megamenu inside the navbar ( Highest Level )
              &.menu-item-has-children.megamenu-custom-top-level-class {
                @apply bg-transparent rounded-none px-0;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
                padding-top: 0 !important;

                //- Link wrapper
                .menu-link-wrapper {
                  @apply bg-lcw-primary-gray text-lcw-primary-blue font-medium flex relative;
                  border-radius: 99rem;
                  font-size: 1.5rem;
                  padding: 1.5rem 2.4rem;
                  position: relative;
                  transition: 0.2s;
                  width: 100%;

                  //- Link of the menu
                  & > a {
                    width: fit-content;
                  }

                  //- Arrow
                  & .menu-item-arrow {
                    @apply absolute;
                    right: 2.4rem;
                    top: 50%;
                    transform: translateY(-50%) scale(1.4) rotate(-90deg);
                    transition: 0.2s;

                    & path {
                      @apply stroke-lcw-primary-red;
                    }
                  }
                }

                //- Sub-menu ( 2nd Level )
                & > .sub-menu {
                  height: auto;
                  max-height: 0px;
                  overflow: hidden;
                  transition: 0.4s;
                  @apply px-4;

                  //- Sub-menu item ( 2nd Level )
                  .menu-item {
                    background: transparent !important;
                    padding: 0;
                    padding-top: 1.5rem;

                    &:not(.menu-item-has-children) {
                      .menu-link-wrapper a {
                        width: 100%;
                      }
                    }

                    //- Sub-menu ( 3nd Level )
                    & .sub-menu {
                      height: auto;
                      max-height: 0px;
                      overflow: hidden;
                      transition: 0.4s;

                      //- Sub-menu item ( 3nd Level )
                      .menu-item-object-motos-novas {
                        & > .menu-link-wrapper {
                          background: transparent;
                          box-sizing: border-box;
                          color: #000000;
                          font-size: 1.6rem;
                          font-weight: 400;

                          a {
                            max-width: 90%;
                            overflow: hidden;
                            text-align: left;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                          }
                        }

                        .menu-item-image a {
                          font-size: 1.2rem;
                          height: 4rem;
                          letter-spacing: normal;
                          margin-top: 2rem;
                        }
                      }
                    }

                    &.opened {
                      & > span.menu-link-wrapper {
                        @apply bg-lcw-primary-red text-white;

                        & .menu-item-arrow {
                          transform: translateY(-50%) scale(1.4) rotate(-180deg);

                          & path {
                            @apply stroke-white;
                          }
                        }
                      }

                      & > .sub-menu {
                        max-height: 999vh;
                      }
                    }
                  }
                }
              }

              &.menu-item-type-post_type_archive.menu-item-object-motos-novas.opened {
                & > span.menu-link-wrapper {
                  @apply bg-lcw-primary-red text-white;

                  & .menu-item-arrow {
                    transform: translateY(-50%) scale(1.4) rotate(-180deg);

                    & path {
                      @apply stroke-white;
                    }
                  }
                }

                & > .sub-menu {
                  max-height: 999vh;
                }
              }
            }
          }
        }
        .wkode-header__icons-wrapper {
          align-items: center;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-bottom: 2.1rem;
          width: 100%;
          .wkode-header__social-media-icon {
            margin-left: 0;
            &:not(:last-of-type) {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  .wkode-header--mobile {
    #controlIdForMobileNav.wkode-header__nav--bottom.wkode-header__nav--active {
      left: 0;
      width: 90%;
    }
  }
}
body {
  transition: all 0.1s ease;
  &.body-megamenu-active {
    overflow-y: hidden;
    &::before {
      background-color: #0000007d;
      content: "";
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 0.3s;
      width: 100vw;
      z-index: 9998;
      @media (max-width: 1000px) {
        z-index: 89;
      }
    }
  }
}
