.wkode-header {
  z-index: 999;
  position: relative;
  &--desktop {
    display: block;
  }
  &--mobile {
    display: none;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.9rem;
    position: relative;
    background-color: white;
    &--top {
      border-bottom: 0.1rem #d6d6d6 solid;
    }
    &--bottom {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__logo-wraper {
    img {
      width: 9rem;
    }
  }
  &__icons-wraper {
  }
  &__social-media-icon {
    width: 3.4rem;
    height: 3.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-left: 1rem;
    transition: all 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }

  &__menu-container {
    /* width: 70%; */
    ul.nav.navbar-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .menu-item {
        margin-right: 3.3rem;
        font-size: 1.6rem;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        padding-right: 1rem;
        padding-left: 1rem;
        white-space: nowrap;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        z-index: 9999;
      }
    }
  }
  .menu-hover-line {
    position: absolute;
    bottom: 0.3rem;
    border-radius: 999px;
    height: 0.6rem;
    transition: width 0.2s ease-out;
    width: 0;
    @apply bg-lcw-primary-red;
  }
}

@media (max-width: 1200px) {
  .wkode-header {
    &__menu-container {
      ul.nav.navbar-nav {
        .menu-item {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .wkode-header {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
      z-index: 9999;
      .wkode-header__nav--top {
        border: 0;
      }
      .wkode-header__nav--bottom {
        width: 30%;
        left: -100%;
      }
      #navbarNavAltMarkup {
        position: absolute;
        justify-content: center;
        flex-direction: column;
        z-index: 9999;
        background-color: white;
        height: 100vh;
        top: 6.9rem;
        transition: all 0.3s;
        &.wkode-header__nav--bottom {
          justify-content: flex-start;
          padding-top: 3.3rem;
          padding-left: 2.1rem;
          padding-right: 2.1rem;
        }
        nav.wkode-header__menu-container {
          width: 100%;
          ul.nav.navbar-nav {
            flex-direction: column;
            align-items: flex-start;
            .menu-item {
              z-index: 9999;
              font-size: 1.5rem;
              margin-right: 0;
              padding-left: 2.4rem;
              padding-top: 1.2rem;
              padding-bottom: 1.2rem;
              width: 100%;
              border-radius: 99rem;
              color: white;
              @apply bg-lcw-primary-blue;
              &:not(:last-of-type) {
                margin-bottom: 1.5rem;
              }
            }
          }
        }
        .wkode-header__icons-wrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
          margin-bottom: 2.1rem;
          .wkode-header__social-media-icon {
            margin-left: 0;
            &:not(:last-of-type) {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  .wkode-header--mobile {
    #navbarNavAltMarkup.wkode-header__nav--bottom.wkode-header__nav--active {
      width: 90%;
      left: 0;
    }
  }
}
body {
  transition: all 0.3s;
  &.body-megamenu-active {
    overflow-y: hidden;
    &::before {
      content: "";
      position: absolute;
      transition: all 0.3s;
      left: 0;
      top: 0;
      background-color: #0000007d;
      width: 100vw;
      height: 100vh;
      z-index: 9998;
    }
  }
}
