.wkode-new-bikes {
  a {
    width: 100%;
  }
  &__title {
    @apply text-center font-rubik text-white text-7xl font-semibold uppercase mb-36;
    @media (max-width: 800px) {
      font-size: 3rem;
      line-height: 3.9rem;
    }
  }
  &__section {
    @apply bg-lcw-primary-blue py-40;
  }
  &__carousel {
    //@apply grid grid-cols-1 mt-20 gap-12 grid grid-cols-3;
  }
  &__category {
    @apply my-20 text-white;
    .category-filter {
      @apply bg-white text-lcw-primary-blue grid grid-cols-6 rounded-full p-2 font-rubik text-2xl uppercase;
      .category {
        @apply px-5 py-4 text-center;
        &--current {
          @apply bg-lcw-primary-red text-white rounded-full font-semibold;
        }
      }
    }
  }
  &__card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 21px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    min-height: 48rem !important;
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;

    @apply py-12;
    &-title {
      align-items: center;
      display: flex;
      font-size: 2.7rem;
      font-size: 2.25rem;
      font-weight: 800;
      letter-spacing: 0.3rem;
      line-height: 2.5rem;
      min-height: 7.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      position: absolute;
      top: 5rem;
      @apply text-center font-rubik text-lcw-primary-blue text-4xl font-bold uppercase;
    }

    &-img {
      display: none !important;
      width: 100%;
      &.active-color-image {
        display: block !important;
      }
    }
    &-colors {
      align-content: flex-end;
      align-items: flex-end;
      bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
      height: 9%;
      justify-content: center;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &-color {
      background: transparent;
      border-radius: 0.7rem 0.7rem 0 0;
      -webkit-box-shadow: 0px -9px 25px 9px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0px -9px 25px 9px rgba(0, 0, 0, 0.13);
      box-shadow: 0px -9px 25px 9px rgba(0, 0, 0, 0.13);
      display: flex;
      height: 80%;
      overflow: hidden;
      transition: all 0.3s;
      width: 13%;
      &--unique {
        display: block;
        height: 100%;
        width: 100%;
      }
      &--bicolor {
        display: block;
        height: 100%;
        width: 50%;
      }
      &--tricolor {
        display: block;
        height: 100%;
        width: 33.3%;
      }
      &:hover {
        height: 99%;
      }
      &.active-color {
        height: 100%;
      }
    }
  }
}
