.wkode-products {
  &__card {
    background-color: white;
    border-radius: 21px;
    padding: 2rem 3.6rem;
    &-title {
      font-family: "Rubik" sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      min-height: 4.2rem;
      text-transform: uppercase;
    }
    &-img {
      margin: auto;
      margin-bottom: 3rem;
      width: 100%;
    }
  }
}
