.search-overlay {
  box-sizing: border-box;
  height: 0;
  min-height: 0rem;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 10%;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.09);
  transition: all /* opacity 0.3s, transform 0.3s, visibility*/ 0.3s;
  /*   bottom: 0; */

  visibility: hidden;
  /* border-radius: 1rem; */
  width: 0;
  z-index: 89;
  p {
    padding-top: 15px;
  }

  .event-summary p {
    padding-top: 0;
  }

  .event-summary {
    margin-bottom: 0;
    margin-top: 20px;
  }

  body.admin-bar & {
    top: 0;
  }

  &__top {
    background-color: rgb(250, 250, 250);
    & > div {
      align-items: center;
      display: flex;
      flex-direction: row;
      padding: 0 0 0 2%;
    }
  }

  &__icon {
    color: var(--greenPrimary);
    font-size: 1.8rem;
    margin-right: 10px;
    @mixin atMedium {
      font-size: 2.5rem;
    }
  }

  &--active {
    margin: 0;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    width: 100%;
  }

  &__section-title {
    border-bottom: 1px solid #ccc;
    color: var(--darkPrimary);
    font-size: 2rem;
    font-weight: 400;
    margin: 30px 0 1px 0;
    padding: 15px 0;
  }

  &__close {
    background-color: #fff;
    color: var(--greenPrimary);
    cursor: pointer;
    font-size: 2.1rem;
    line-height: 0.7;
    position: absolute;
    right: 16px;
    top: 13px;
    transition: all 0.3s;
    @mixin atSmall {
      font-size: 2.1rem;
      top: 18px;
    }
    @mixin atMedium {
      font-size: 2.8rem;
      top: 26px;
    }
  }

  &__close:hover {
    opacity: 1;
  }
  &::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: transparent;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    transition: background-color 0.8s;
  }
  &::-webkit-scrollbar-corner {
    border-radius: 5px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #e6e6e69f;
  }
  .one-half {
    padding-bottom: 0;
  }
  & > div {
    /* border-radius: 1rem; */
    & #search-overlay__results > div > .row {
      overflow: visible;
      & > a.link-search-results {
        border: white 0.3rem solid;
        /* border-radius: 1.3rem; */
        margin: 1rem 0;
        min-height: 15rem;
        &.servico {
          border-color: var(--lightPrimary);
          border-radius: 0;
          & > .search-product-wraper {
            border-radius: 0;
            & > .row > .col-img-search > .img-wraper-search {
              border-radius: 0;
            }
          }
        }
        & > .search-product-wraper {
          background-color: var(--greenPrimary);
          color: white;
          height: 100%;
          /* border-radius: 1rem; */
          padding-left: 0;
          transition: all 0.3s;
          &.servico {
            border-radius: 0;
          }
          &:hover {
            background-color: white;
            color: var(--greenPrimary);
          }
          & > .row {
            height: 100%;
            & > .col-img-search > .img-wraper-search {
              align-items: center;
              background: white;
              display: flex;
              height: 100%;
              justify-content: center;
              overflow: hidden;
              width: 100%;
              /* border-radius: 1rem 0 0 1rem; */
              & > img {
                height: auto;
                width: 100%;
              }
            }
            & > .col-text-search {
              padding: 2rem;
              & > .row {
                width: 100%;
                & > .title-search {
                  font-size: 2.3rem;
                  font-weight: 700;
                  letter-spacing: 0.1vw;
                }
                & > .title-price-search {
                  color: var(--lightPrimary);
                }
              }
              & > .text-search {
                height: auto;
                margin-top: 2rem;
                max-height: 70%;
              }
            }
          }
        }
      }
    }
  }
}

.search-term {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--greenPrimary);
  font-family: Montserrat, "sans-serif";
  font-size: 1vw;
  font-weight: 300;
  margin: 0;
  outline: none;
  padding: 12px 0;
  width: 75%;
  @mixin atSmall {
    font-size: 1.5rem;
  }
  @mixin atMedium {
    font-size: 3rem;
    width: 80%;
  }
}

.body-no-scroll {
  overflow: hidden;
}
.spinner-loader {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  border: 0.25rem solid rgb(255 255 255 / 20%);
  border-radius: 50%;
  border-top-color: #fff;
  height: 24px;
  margin: auto;
  margin-top: 45px;
  width: 24px;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.active-bottom {
  background-color: white;
  height: 100vh;
  min-height: 37rem;

  overflow-y: scroll;
}
#search-overlay__results {
  max-width: 100%;
}
#navbarNavAltMarkup {
  position: relative;
}
.search-trigger {
  margin-left: auto;
  right: 1rem;
  top: 50%;
}
@media (max-width: 500px) {
  .search-term {
    font-size: 3.6vw;
  }
  .search-overlay--active {
    width: 100%;
  }
  .search-overlay {
    height: 100%;
    padding: 0;
    right: 0;
  }
  /* .search-overlay__top {
    height: 100%;
  }
  .search-overlay__top > div {
    height: 100%;
  } */
}

#search-overlay__results {
  .products-banner-carousel-card {
    &__body {
      align-items: center;
      display: flex;
      justify-content: center;
      &--title {
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }
}
#search-results-bottom {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .search-trigger {
    margin-left: 0;
    right: 1rem;
    top: 50%;
  }
}

/* ------ custom --------- */

.wkode-search-carousel {
  .slick-slide {
    margin: 1.5rem 3rem;
    .wkode-new-bikes__card,
    .wkode-used-bikes__card,
    .wkode-products__card {
      box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.09);
    }
  }
}
