.wkode-archive {
  @apply bg-lcw-primary-blue;
  &__main {
    @apply grid grid-cols-12 container gap-3;
  }
  &__grid {
    @apply col-span-10 grid grid-cols-1 md:grid-cols-3 gap-7;
  }
  .filter {
    @apply col-span-2;
  }
  .wkode-new-bikes__card {
    margin: 0;
  }
  .wkode-products__card {
    @apply mx-3;
  }
}

.wkode-new-bikes {
  .wkode-archive__main {
    @apply grid grid-cols-1;
    gap: 0;
    .category-filter {
      @apply col-span-1;
      margin-bottom: 6rem;
      .category {
      }
    }
  }
}

.skeleton-box {
  background-color: #e2e8f0;
  color: transparent;
  overflow: hidden;
  position: relative;

  &::before {
    background-color: #e2e8f0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &::after {
    animation: shimmer 3s infinite;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 2;
  }

  img {
    display: none;
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.pointer-events-none {
  pointer-events: none;
}
