.wkode-header--blurred {
  backdrop-filter: blur(12px);
  background: rgba(20, 21, 27, 0.33);
  color: white;
  position: fixed;
  width: 100%;
  .wkode-header__nav {
    background-color: #ffffff00;
  }
  .wkode-header__nav--top {
    border-bottom: 0.1rem #d6d6d600 solid;
  }
  .sub-menu.megamenu {
    color: black;
  }
  .menu-item-arrow {
    @media (min-width: 1000px) {
      svg {
        color: white;
        fill: white;
        path {
          stroke: white !important;
        }
      }
    }
  }
}
.wkode-single-new-bikes-template {
  @apply bg-lcw-primary-blue text-white font-rubik;
  font-size: 15px;

  &__image {
    height: 100vh;
    min-height: 108rem;
    overflow: hidden;
    position: relative;
    img {
      height: auto;
      left: 50%;
      max-width: none;

      min-width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__form {
    backdrop-filter: blur(12px);
    background: linear-gradient(
      180deg,
      rgba(20, 21, 27, 0.267) 0%,
      rgba(20, 21, 27, 0.781) 100%
    );
    border-radius: 12px 0px 0px 12px;
    min-height: 50rem;
    opacity: 1;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    width: 25%;
    z-index: 89;

    &-title {
      font-family: "Rubik";
      font-size: 2.1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .wpforms-container form .wpforms-field-container {
      input,
      textarea {
        background-color: transparent !important;
        border: 1.8px solid #fff !important;
        border-radius: 67px !important;
        color: white !important;
        font-family: "Rubik" !important;
        font-size: 1.4rem !important;
        font-weight: 300 !important;
        min-width: 100% !important;
        text-transform: capitalize !important;
        &::placeholder {
          color: white !important;
          font-family: "Rubik" !important;
          font-size: 1.4rem !important;
          font-weight: 300 !important;
          min-width: 100% !important;
          text-transform: capitalize !important;
        }
      }
      .wpforms-field {
        padding: 5px 0 !important;
        &.wpforms-field-number,
        &.wpforms-field-phone {
          display: inline-block;
          width: 49%;
        }
        &.wpforms-field-number {
          margin-right: 2%;
        }
      }
      textarea.wpforms-field-medium.wpforms-field-required {
        border-radius: 12px !important;
        height: 70px;
        margin-bottom: 1.5rem;
      }
      .wpforms-field.wpforms-field-checkbox {
        font-size: 1.2rem !important;
        label {
          font-size: 1.2rem !important;
        }
        li.choice-1 {
          align-content: center;
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
        input {
          min-width: auto !important;
        }
        label,
        ul,
        li {
          display: inline !important;
        }
        label {
          margin-right: 7px;
        }
      }
    }
    .wpforms-submit-container {
      button {
        background-color: rgb(215 40 24 / var(--tw-bg-opacity)) !important;
        border-color: rgb(215 40 24 / var(--tw-border-opacity)) !important;
        border-radius: 9999px !important;
        border-width: 4px !important;
        color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
        font-family: Rubik, sans-serif !important;
        font-size: 1.5rem !important;
        font-weight: 700 !important;
        line-height: 2rem !important;
        margin-top: 3rem !important;
        overflow: hidden !important;
        padding-bottom: 1rem !important;
        padding-left: 8rem !important;
        padding-right: 8rem !important;
        padding-top: 1rem !important;
        position: relative !important;
        text-transform: uppercase !important;
        transition: all 0.3s !important;
        width: 100% !important;
        --tw-border-opacity: 1 !important;
        --tw-bg-opacity: 1 !important;
        --tw-text-opacity: 1 !important;
        &:hover {
          background-color: transparent !important;
          color: rgb(215 40 24 / var(--tw-text-opacity)) !important;
          --tw-text-opacity: 1 !important;
        }
      }
    }
  }

  &__title {
    color: #fff;
    font-family: "Rubik";
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 15rem;
    text-transform: uppercase;
  }
}

.wkode-single-new-bikes-template-block {
  &__dark-mode {
    @apply bg-lcw-primary-blue;
    .wkode-single-new-bikes-template-block__title {
      @apply text-white;
    }
    .wkode-single-new-bikes-template-block__text {
      @apply text-white;
    }
  }
  &__light-mode {
    @apply bg-lcw-primary-white;
    .wkode-single-new-bikes-template-block__title {
      @apply text-lcw-primary-blue;
    }
    .wkode-single-new-bikes-template-block__text {
      @apply text-black;
    }
  }

  &__normal-direction {
    .wkode-single-new-bikes-template-block__content {
      @apply col-span-6;
    }
    .wkode-single-new-bikes-template-block__image {
      border-radius: 12px;
      @apply col-span-6;
      .wkode-single-new-bikes-template-block__img {
        border-radius: 12px;
      }
    }
  }
  &__inverted-direction {
    .wkode-single-new-bikes-template-block__content {
      @apply col-span-6 order-2 pl-12;
    }
    .wkode-single-new-bikes-template-block__image {
      border-radius: 12px;
      @apply col-span-6 col-start-1 order-1 block;
      .wkode-single-new-bikes-template-block__img {
        border-radius: 12px;
      }
    }
  }

  &__wrapper {
    @apply grid grid-cols-1 lg:grid-cols-12 py-60 gap-12 container;
  }
  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__title {
    color: #fff;
    font-family: "Rubik";
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2.1rem;
    text-transform: uppercase;
  }
  &__text {
    color: #fff;
    font-family: "Inter";
    font-size: 1.6rem;

    @apply pr-0 xl:pr-40 mb-12;
  }
  &__image {
    overflow: hidden;
    position: relative;

    .wkode-single-new-bikes-template-block__img {
      height: auto;
      width: 100%;
    }
  }
}
@media (max-width: 1500px) {
  .wkode-single-new-bikes-template__form {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  .wkode-single-new-bikes-template__form {
    width: 36%;
  }
}
@media (max-width: 1000px) {
  .wkode-single-new-bikes-template__form {
    border-radius: 12px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
    &--hidden {
      opacity: 0;
      top: 44%;
      visibility: hidden;
    }
  }
  .wkode-header__single-new-trigger__title {
    transition: all 0.5s;
  }
  .wkode-header__single-new-trigger__arrow {
    transition: all 0.3s;
    &--inverted {
      transform: rotate(-180deg);
    }
  }
}
@media (max-width: 800px) {
  .wkode-single-new-bikes-template__form {
    width: 70%;
    z-index: 89;
  }
}
@media (max-width: 600px) {
  .wkode-single-new-bikes-template__form {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    width: 97%;
    .wpforms-field {
      &.wpforms-field-number,
      &.wpforms-field-phone {
        display: block !important;
        width: 100% !important;
      }
      &.wpforms-field-number {
        margin-right: 0 !important;
      }
    }
  }
}

.wkode-header__single-new-trigger {
  align-content: center;
  align-items: center;
  border-top: #ffffff31 solid 1px;
  display: flex;
  font-family: "Rubik";
  font-size: 1.8rem;
  font-weight: 600;
  height: 5rem;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.wkode-single-new-bikes-template__bikes-colors-wrapper {
  .wkode-new-bikes__card {
    &-colors {
      align-content: flex-end;
      align-items: flex-end;
      bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
      height: 6rem;
      justify-content: flex-end;
      left: auto;
      position: absolute;
      right: 15rem;
      width: 100%;
      @media (max-width: 500px) {
        justify-content: center;
        right: 0;
      }
    }
    &-color {
      background: transparent;
      border-radius: 0.7rem 0.7rem 0 0;
      -webkit-box-shadow: 0px -9px 25px 9px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0px -9px 25px 9px rgba(0, 0, 0, 0.13);
      box-shadow: 0px -9px 25px 9px rgba(0, 0, 0, 0.13);
      display: flex;
      height: 80%;
      overflow: hidden;
      transition: all 0.3s;
      width: 7rem;
      &--unique {
        display: block;
        height: 100%;
        width: 100%;
      }
      &--bicolor {
        display: block;
        height: 100%;
        width: 50%;
      }
      &--tricolor {
        display: block;
        height: 100%;
        width: 33.3%;
      }
      &:hover {
        height: 99%;
      }
      &.active-color {
        height: 100%;
      }
    }
  }
}
.wkode-single-new-bikes__slides {
  overflow: hidden;
  position: relative;
  .wkode-single-new-bikes-template-block__wrapper {
    overflow: hidden;
  }
  .wkode-single-new-bikes-template-block__content {
    @apply col-span-12 xl:col-span-7;
    z-index: 9;
  }
  .wkode-single-new-bikes-template-block__image {
    border-radius: 0;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    &::after {
      @apply bg-lcw-primary-blue;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
  .wkode-single-new-bikes-template-block__text {
    display: none;
    line-height: 1.88;
    min-height: 21rem;
    &.active-description {
      display: block;
    }
  }
  .wkode-single-new-bikes-template-block__img {
    border-radius: 0 !important;
    display: block;
    height: auto;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -150%);
    transition: all 0.7s;
    /* visibility: hidden; */
    width: 100%;
    z-index: 1;

    @media (max-width: 1300px) {
      height: 100%;
      max-width: none;
      width: auto;
    }

    &.active-image {
      /* visibility: visible; */
      opacity: 0.3;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }
  .wkode-single-new-bikes-template-block__title-wrapper {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 3.9rem;
    justify-content: flex-start;
    margin-bottom: 2.1rem;
    @media (max-width: 768px) {
      align-content: center;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
    .wkode-single-new-bikes-template-block__title {
      border-bottom-style: solid;
      border-bottom-width: 7px;
      border-color: transparent;
      cursor: pointer;
      padding-bottom: 1rem;
      transition: all 0.3s;
      &:hover {
        @apply border-lcw-primary-red;
      }
      &.active-title {
        @apply border-lcw-primary-red;
      }
    }
  }
  .wkode-single-new-bikes-template-block__title--main {
    color: #fff;
    font-family: "Rubik";
    font-size: 3.7rem;
    font-weight: 700;
    margin-bottom: 7rem;
    text-transform: uppercase;
  }
}

.wkode-new-bikes-single__gallery {
  min-height: 925px;
  &-outer-wrapper {
    min-height: 925px;
  }
  &-wrapper {
    min-height: 100%;
    @media (max-width: 768px) {
      height: 500px;
    }
  }
  &-link {
    display: block;
    height: 100%;
    /* display: block;
    height: 100%;
    min-height: 100%; */
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  &-img {
    height: 100%;
    left: 50%;
    max-height: 500px;
    max-width: none;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    scale: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.7s cubic-bezier(0, 0.75, 1, 0.94);
    width: auto;
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }

    @media (max-width: 768px) {
      height: auto;
      min-width: 100%;
    }
  }
}

.wkode-new-bikes-single__accordion {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    @apply bg-lcw-primary-blue;
  }
  &-wrapper {
    @apply container py-72;
    position: relative;
    z-index: 1;
  }
  .accordion {
    .wkode-new-bikes-single__accordion-title {
      color: #fff;
      font-family: "Rubik";
      font-size: 3.2rem;
      font-weight: 700;
      margin-bottom: 10rem;
      text-align: center;
      text-transform: uppercase;
    }
    .accordion-item {
      border-radius: 24px;
      margin-bottom: 1rem;
      overflow: hidden;
      @apply bg-lcw-primary-white pl-16 pr-4;
      &.active {
        .accordion-title {
          margin-bottom: 1.5rem;
        }
        .accordion-arrow {
          transform: rotate(90deg);
        }
        .accordion-content {
          border-top: 1px solid #c7c7c7;
          max-height: 60rem;
          padding-bottom: 1.5rem;
          padding-top: 1.5rem;
          visibility: visible;
        }
      }
      .accordion-title {
        align-items: center;
        color: #000;
        cursor: default;
        display: flex;
        font-family: "Rubik";
        font-size: 1.5rem;
        font-weight: 700;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-transform: uppercase;
        user-select: none;
      }
      .accordion-arrow {
        @apply bg-lcw-primary-red;
        align-content: center;
        align-items: center;
        border-radius: 99px;
        display: flex;
        height: 3rem;
        justify-content: center;
        transition: all 0.3s;
        width: 3rem;
        image {
          margin: auto;
        }
      }
      .accordion-content {
        border-top-color: #c7c7c700;
        border-top-width: 0;
        max-height: 0;
        padding-bottom: 0;
        padding-top: 0;
        transition: all 0.3s;
        visibility: hidden;
        .accordion-inner-item {
          max-height: 100%;
          .accordion-inner-title {
            font-family: "Rubik";
            font-size: 1.3rem;
            font-weight: 600;
            text-transform: capitalize;
            @apply text-lcw-primary-red;
          }
          .accordion-inner-text {
            color: #757575;
            font-family: "Rubik";
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
